/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@font-face {
    font-family: "American Typewriter";
    src: url("../fonts/American Typewriter Regular.ttf");
}
@font-face {
    font-family: "American Typewriter";
    src: url("../fonts/American Typewriter Bold.ttf");
    font-weight: bold;
}
html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}
body{
    background-color: #FFC85A;
/*    background-image: url("../img/smileys.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;*/
}
a{
    color: #FFF;
    text-decoration: underline;
    font-weight: 600;
}
::-webkit-input-placeholder { /* Chrome */
  color: #FFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #FFF;
  opacity: 1;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.body-background{
    position: fixed;
    background-color: #FFC85A;
    background-image: url("../img/smileys.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#main{
    display: none;
    position: relative;
    width:800px;
    margin-left:auto;
    margin-right: auto;
}
.main{
    font-family: "Pacifico";
    font-size: 60px;
    color: #fff;
    padding-top: 150px;
    text-align: center;
    /*text-shadow: 0 2px 4px rgba(0,0,0,.16);*/
}
.name{
    text-decoration: none;
}
.content{
    margin-top: 100px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: "American Typewriter";
    /*text-shadow: 0 2px 4px rgba(0,0,0,.16);*/

}
.content .question{
    font-size: 40px;
}
.content .answer{
    font-size: 24px;
}
.more-text{
    display: none;
}
.more-button{
    width: 90px;
    height: 40px;
    background:#FFF;
    background-image: url("../img/dot-button.svg");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    border-radius: 30px;
}
.thank-you{
    font-family: "Pacifico";
    font-size: 50px;
    color: #fff;
    padding-top: 80px;
    text-align: center;
    /*text-shadow: 0 2px 4px rgba(0,0,0,.16);*/
}
.share{
    text-shadow: none !important; 
    font-family: "Pacifico";
    width: 100%;
    padding: 50px 0;
    background-image:url("../img/share-rect.svg");
    background-size: cover;
    background-position: center center;
    min-height: 240px;
    color: #FFC85A;
    margin: 60px 0 20px;
    text-align: center;
}
.share input{
    background:#FFC85A;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    color: #FFF;
    outline: none;
    border: none;
}
.share span{
    display: block;
}
.share span.url-gen{
    font-size: 20px;
    font-family: 'American Typewriter';
}
.share .url-href{
    color: #FFC85A;
    text-decoration: none;
}
.footer{
    font-size: 18px;
    text-shadow: none;
    margin: 0 0 20px;
}


/* Loader */
.loader-container{
    position: fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #main{
        width:auto;
    }
    .main{
        font-size: 34px;
    }
    .content{
        width: auto;
        padding: 0 20px;
    }
    .content .question{
        font-size: 30px;
    }
    .content .answer{
        font-size: 20px;
    }
    .thank-you{
        font-size: 34px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}